.app {
  z-index: 0;
  background: linear-gradient(-45deg, #1a1a1a, #202020, #1a1a1a);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.page {
  min-height: 100dvh;

  margin-left: auto;
  margin-right: auto;

  width: calc(0.2vw + 350px);
  max-width: 85vw;
  min-width: 50vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;

  font-size: clamp(1rem, 4vw, 1.3rem);
  z-index: 200;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0.2rem 1.5rem;
  background: linear-gradient(to right, #1f1f1f, #2a2a2a);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.navbar a {
  font-weight: 650;
  font-size: 1.3rem;
  color: #e0e0e0;
  padding: 0.5rem;
  border-radius: 4px;
  transition: transform 0.1s ease;
}

.navbar a.active {
  color: #FF6600;
  font-weight: 800;
}

.navbar a:hover {
  transform: scale(1.1);
}



.welcome {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 2px 3px #000;
  z-index: 100;
  max-width: 80vw; 
  margin: 0 auto;
}

.welcome-title {
  color: #f0f0f0;
  font-size: 4.5rem;
  font-weight: 625;

}

.welcome-name {
  color: #FF6600;
  font-size: 4.5rem;
  font-weight: 675;
}

.welcome-subtitle {
  color: #f0f0f0f8;
  font-size: 2.2rem;
  font-weight: 400;
  margin: 0.1rem 0;
}


.welcome-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100dvh;
  pointer-events: none;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.welcome-background svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img:hover {
  transform: scale(1.1);
}

.project-card {
  width: 90%;
  border-radius: 12px;
  overflow: hidden; 
}



.project {
  border: none;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.project-open {
  background-color: #f0f0f00a;
    display: flex;
}
.project:hover{
  background-color: #f0f0f00a;
}

.project-header {
  display: flex;
  flex-direction: row;
}

.project-header-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  width: 85%;
  padding: 
}

.project-header-carat {
  color: #f0f0f03c;
  transition: color 0.2s ease;
  width: 15%;
  align-self: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.project:hover .project-header-carat {
  color: #FF6600;
  font-weight: 1000;
}

.project-header-carat-open {
  color: #FF6600;
  font-weight: 1000;
  transition: color 0.2s ease;
  width: 15%;
  align-self: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.project-expanded {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  width: 90%;
}


.project-title {
  font-weight: 700;

}
.project-summary {
  margin-top: 0;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.tech-icon {
  height: 30px;
}

.project-links {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.project-link {
  padding: 0.4rem 1rem;
  background: #2a2a2a;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.2s ease;
  width: 10rem;
  text-align: center;

}


.project-divider {
  border: 1px solid #f0f0f03c;
  border-radius: 5px;
  margin: 0;

}


.about {
  box-sizing: border-box;
  color: #f0f0f0;
  z-index: 300;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about img {
  width: 15vw;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.contact-button {
  width: 50vw;
  max-width: 111px;
  transition: transform 0.2s ease; 
} 

@media (max-width: 768px) {

  .project-card {
    width: 60vw;
  }

  .about {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: .5rem;
  }
  .about img {
    width: calc(-6.52vw + 166px);
  }

}

@media (max-width: 600px) {

  .navbar {
    justify-content: center;
  }

  .contact {
    flex-direction: column;
  }
}


@media (max-width: 440px) {
  .navbar {
    gap: 0.25rem;
  }

  .navbar a {
    font-size: clamp(1rem, 5vw, 1.3rem);
  }
}